<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Papers list.">
    <meta name="author" content="Paul Chote">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">
    <title>Papers list</title>
    <style>
      .fixed-table-loading { padding-top: 7px; }
      .nav-tabs { padding-left: 15px; margin-bottom: 0; border: none; }
      .tab-content { border: 1px solid #ddd; border-radius: 4px; padding: 15px; }
      .table-hover tbody tr:hover > td { cursor: pointer; }
    </style>
  </head>
  <body>
    <div class="container">
      <div id="toolbar" class="row">
        <div class="col-md-12">
    {% if user_account['username'] != None and user_account['avatar'] != None %}
        <img style="border-radius: 3px; margin-right: 5px; float: left;" src="{{ user_account['avatar'] }}" width="40" height="40">
        <span style="margin: 0; margin-top: 8px; margin-right: 5px; overflow:hidden; text-overflow: ellipsis; height: 32px; font-weight: bold;">@{{ user_account['username'] }}</span>
        <a href="{{ url_for('logout') + '?next=' + request.base_url }}" class="btn btn-default btn-sm">Log out</a>
    {% else %}
        <a id="login-button" href="{{ url_for('login') + '?next=' + request.base_url }}" class="btn btn-primary" style="width: 150px; overflow: hidden; text-overflow: ellipsis;">Log in with Github</a>
    {% endif %}
        </div>
      </div>
      <div id="chartrow" class="row">
        <table id="table"
            data-toggle="table"
            data-search="true"
            data-filter-control="true" 
            data-toolbar="#toolbar"
            data-url="{{ url_for('query_papers') }}">
          <thead>
            <tr>
              <th data-field="author" data-formatter="buildnames" data-sortable="true" class="col-md-2">Author</th>
              <th data-field="year" data-sortable="true" class="col-md-1">Year</th>
              <th data-field="title" data-sortable="true" data-formatter="buildtitle" class="col-md-6">Title</th>
              <th data-field="journal" data-sortable="true" class="col-md-3">Journal</th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="modal" id="detailmodal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="paper-title">Paper Title</h4>
            </div>
            <div class="modal-body">
              <div class="form-horizontal">
                <div class="form-group">
                  <label class="control-label col-sm-2" for="email">Author:</label>
                  <div class="col-sm-10">
                    <p class="form-control-static" id="paper-author"></p>
                  </div>
                  <label class="control-label col-sm-2" for="email">Journal:</label>
                  <div class="col-sm-10">
                    <p class="form-control-static" id="paper-journal"></p>
                  </div>
                </div>
              </div>
              <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#abstract">Abstract</a></li>
                <li><a data-toggle="tab" href="#bibtex">Minimal BibTeX</a></li>
                <li><a data-toggle="tab" href="#keywords" id="keywords-tab">Keywords</a></li>
              </ul>
              <div class="tab-content">
                <div id="abstract" class="tab-pane active">
                  <p id="paper-abstract"></p>
                </div>
                <div id="bibtex" class="tab-pane">
                  <textarea class="form-control input-sm" rows="12" id="paper-bibtex"></textarea>
                </div>
                <div id="keywords" class="tab-pane">
                  <p id="paper-keywords"></p>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <a target="_blank" href="#" class="btn btn-danger pull-left" id="paper-pdf">PDF</a>
              <a target="_blank" href="#" class="btn btn-warning pull-left" id="paper-ads">ADS</a>
              <a target="_blank" href="#" class="btn btn-success pull-left" id="paper-doi">DOI</a>
              <a target="_blank" href="#" class="btn btn-info pull-left" id="paper-arxiv">arXiv</a>
              <a target="_blank" href="#" class="btn btn-info pull-left" id="paper-web">Web</a>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
    <script src="{{ url_for('static', filename='paperdb.js') }}"></script>
  </body>
</html>
