<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Papers list.">
    <meta name="author" content="Paul Chote">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">
    <title>Papers list</title>
    <style>
    .tooltip-inner { max-width: 550px; text-align: justify; }
    .fixed-table-loading { padding-top: 7px; }
    </style>
  </head>
  <body>
    <div class="container">
      <div id="toolbar" class="row"></div>
      <div id="chartrow" class="row">
        <table id="table"
            data-toggle="table"
            data-search="true"
            data-filter-control="true" 
            data-toolbar="#toolbar"
            data-url="{{ url_for('query_papers') }}">
          <thead>
            <tr>
              <th data-field="author" data-formatter="buildnames" data-sortable="true">Author</th>
              <th data-field="year" data-sortable="true">Year</th>
              <th data-field="journal" data-sortable="true" data-formatter="buildjournal">Journal</th>
              <th data-field="title" data-formatter="buildtitle">Title</th>
              <th data-formatter="buildlinks">Links</th>
            </tr>
          </thead>
        </table>
      </div>
      <div id="errorrow" class="row m-b">
        <span id="error" class="label-danger"></span>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
    <script src="{{ url_for('static', filename='paperdb.js') }}"></script>
  </body>
</html>
